
* {
  padding: 0px;
  margin: 0px;
}
body {
  box-sizing: border-box;
  font-family: 'Kulim Park', sans-serif;
  background-color: #333333; /*1b1a1a*/
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-items: center;
  padding: 0;
  margin: 0;
}

p {
  font-family: open sans,sans-serif;
  color: #6a7695;
  display: block;
  flex: 1;
}

.layer {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: saturate(20%);
  display: flex;
  align-items: center;
  justify-items: center;
}

.title {
  font-size: 2.8rem;
  text-transform: uppercase;
}

.title .primary {
  font-family: raleway,sans-serif;
  font-size: 40px;
  font-weight: 900;
  line-height: 1.3;
  flex: 2;
}

.timer span {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 1rem 1.5rem;
  font-size: 4rem;
}

.timer span:nth-of-type(1)::after {
  content: 'días';
  font-size: 1.4rem;
  text-transform: uppercase;
}

.timer span:nth-of-type(2)::after {
  content: 'hrs';
  font-size: 1.4rem;
  text-transform: uppercase;
}

.timer span:nth-of-type(3)::after {
  content: 'min';
  font-size: 1.4rem;
  text-transform: uppercase;
}

.timer span:nth-of-type(4)::after {
  content: 'sec';
  font-size: 1.4rem;
  text-transform: uppercase;
}

.input-custom {
  font-family: 'Kulim Park', sans-serif;
  font-size: 0.8rem;
  text-transform: uppercase;
  background-color: #f3f3f367;
  outline: none;
  border: none;
}

.input-custom:focus {
  background-color: #f3f3f367 !important;
}

.input-custom::placeholder {
  color: #f3f3f3;
  font-size: 0.8rem;
}

.btn-custom {
  font-family: 'Kulim Park', sans-serif;
  text-transform: uppercase;
  color: #f3f3f3;
  background-color: #1C9FC9;
  outline: none;
  border: none;
}

.btn-custom:hover {
  background-color: #157c9e;
  cursor: pointer;
}

.socials a {
  text-decoration: none;
  color: #f3f3f3;
  font-size: 50px;
}

.socials a:hover {
  color: #7289da;
  font-size: 50px;
}

footer .coded-by img {
  width: 500px;
}

@media only screen and (max-width: 600px) {
  .title {
    font-size: 1.8rem;
  }

  .timer span {
    padding: 0.8rem 0.5rem;
    font-size: 1.8rem;
  }

  .timer span:nth-of-type(1)::after,
  .timer span:nth-of-type(2)::after,
  .timer span:nth-of-type(3)::after,
  .timer span:nth-of-type(4)::after {
    font-size: 0.8rem;
  }
}

@media (min-width: 601px) and (max-width: 1024px) {
  .title {
    font-size: 2.2rem;
  }

  .info {
    width: unset;
  }

  .timer span {
    font-size: 2.4rem;
  }
}
